<ion-content scroll-y="false">
  <ion-slides class="slides" pager="true">
    <ion-slide class="slide">
      <h1 class="slide-title">Welkom bij de patienten app van het <b>MNNU</b>!</h1>
      <img src="../../assets/opening.svg" alt="onboarding" class="slide-image" />
      <h2>Swipe om door te gaan!</h2>
    </ion-slide>
    <ion-slide class="slide">
      <img src="../../assets/request.svg" alt="" class="slide-image" />
      <h2 class="slide-title">Deze app is gemaakt om gemakkelijk uw data te beheren.</h2>
    </ion-slide>
    <ion-slide class="slide">
      <img src="../../assets/email.svg" alt="" class="slide-image" style="width: 60%" />
      <h2 class="slide-title">
        Ook kunt u verzoeken van specialisten accepteren zodat u op een veilige manier geholpen kunt worden.
      </h2>
    </ion-slide>
    <ion-slide class="slide">
      <h1 class="slide-title">Laten we beginnen!</h1>
      <img src="../../assets/begin.svg" alt="" class="slide-image" />
      <ion-button class="slide-button" size="large" (click)="updateOnboarding()">Let's go!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
