<ion-content>
  <h1 class="login-header">Login</h1>
  <div class="pincode">
    <div class="pincode-display">
      <div class="pincode-number">*</div>
      <div class="pincode-number">*</div>
      <div class="pincode-number">*</div>
      <div class="pincode-number">*</div>
    </div>
    <div class="pincode-numbers">
      <button class="pincode-button">1</button>
      <button class="pincode-button">2</button>
      <button class="pincode-button">3</button>
      <button class="pincode-button">4</button>
      <button class="pincode-button">5</button>
      <button class="pincode-button">6</button>
      <button class="pincode-button">7</button>
      <button class="pincode-button">8</button>
      <button class="pincode-button">9</button>
      <button class="pincode-button buffer">x</button>
      <button class="pincode-button">0</button>
      <button class="pincode-button"><ion-icon name="backspace"></ion-icon></button>
    </div>
  </div>
</ion-content>
