.login-header {
  width: 100vw;
  margin-top: 10vh;
  margin-left: 40px;
  font-size: 3rem;
  font-weight: bold;
  vertical-align: text-bottom;
}

.pincode-display {
  box-shadow: 5px 5px 25px -6px rgba(0, 0, 0, 0.123);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
  height: 100px;
  width: 80%;
  margin: 20px auto;

  .pincode-number {
    font-size: 5rem;
    margin-top: 10px;
  }
}
