<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header">
    <h1 class="header-title">Connecties</h1>
    <ion-button fill="none" (click)="scan()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-text
    color="primary"
    class="title-wrapper"
    *ngIf="activeConnections.length > 0"
  >
    <h2>Uw Actieve Connecties</h2>
    <ion-button fill="none" (click)="help()">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-button>
  </ion-text>
  <ion-list lines="none" *ngIf="activeConnections.length > 0">
    <ion-item-sliding *ngFor="let connection of activeConnections">
      <ion-item
        (click)="openModal(connection)"
        *ngIf="connection.proof && (connection.proof.state === 'request_received' || connection.proof.state === 'presentation_sent')"
      >
        <ion-label>{{connection.their_label}}</ion-label>
        <ion-icon
          name="alert-circle-outline"
          color="danger"
          *ngIf="connection.proof.state === 'request_received'"
        ></ion-icon>
        <ion-icon
          name="mail-outline"
          color="success"
          *ngIf="connection.proof.state === 'presentation_sent'"
        ></ion-icon>
      </ion-item>
      <ion-item
        *ngIf="!connection.proof || (connection.proof.state !== 'request_received' && connection.proof.state !== 'presentation_sent')"
      >
        <ion-label>{{connection.their_label}}</ion-label>
      </ion-item>
      <ion-item-options
        #slidingItem
        side="end"
        (ionSwipe)="removeConnection(connection)"
      >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="activeConnections.length === 0">
    <div class="no-connections" style="height: 60vh">
      <img src="../../assets/connection.svg" alt="no-connections" />
      <h2>U heeft nog geen connecties</h2>
    </div>
  </div>
</ion-content>
