<ion-content>
  <div class="header-wrapper">
    <ion-button (click)="dismiss()" fill="none"><ion-label color="primary">Cancel</ion-label></ion-button>
  </div>
  <div class="form">
    <ion-list>
      <ion-item class="item-wrapper">
        <ion-label><b>naam</b></ion-label>
        <ion-input [(ngModel)]="naam"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Voorletters</b></ion-label>
        <ion-input [(ngModel)]="voorletters"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Achternaam</b></ion-label>
        <ion-input [(ngModel)]="achternaam"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Geslacht</b></ion-label>
        <ion-select [(ngModel)]="geslacht">
          <ion-select-option value="man">man</ion-select-option>
          <ion-select-option value="vrouw">vrouw</ion-select-option>
          <ion-select-option value="onzijdig">onzijdig</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><b>Geboortedatum</b></ion-label>
        <ion-datetime displayFormat="DD MM YYYY" [(ngModel)]="geboortedatum"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label><b>burgerservicenummer</b></ion-label>
        <ion-input [(ngModel)]="burgerservicenummer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Geldige identiteitskaart</b></ion-label>
        <ion-select [(ngModel)]="geldigheid_identiteitskaart">
          <ion-select-option value="ja">ja</ion-select-option>
          <ion-select-option value="nee">nee</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><b>Burgerlijke staat</b></ion-label>
        <ion-select [(ngModel)]="burgerlijke_staat">
          <ion-select-option value="ongehuwd">ongehuwd</ion-select-option>
          <ion-select-option value="samenwonend">samenwonend</ion-select-option>
          <ion-select-option value="wettelijkesamenwoning">wettelijkesamenwoning</ion-select-option>
          <ion-select-option value="gehuwd">gehuwd</ion-select-option>
          <ion-select-option value="gescheiden">gescheiden</ion-select-option>
          <ion-select-option value="weduwstaat">weduwestaat</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label><b>Telefoonnummer</b></ion-label>
      <ion-input [(ngModel)]="telefoonummer"></ion-input>
    </ion-item>
  </div>
  <div class="button-wrapper">
    <ion-button (click)="save()">Opslaan!</ion-button>
  </div>
</ion-content>
